<div class="row">
    <div class="col-lg-12">
        <h2>質問一覧</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル</th>
                    <th>本文</th>
                </tr>
            </thead>
            <tbody>
                <% @questions.each do |question| %>
                <tr>
                    <td><%= question.title %></td>
                    <td><%= question.body %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>